server {
	listen 80;
	listen [::]:80;

	server_name {{ server_name }};

	root {{ share_dir }};

	index .please_dont_create_this_file_thx;

	location / {
		try_files $uri $uri/ =404;
		autoindex on;
	}
}
